<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function show_my_comment_set() {
        var x = document.getElementById("comment_set{{ forloop.counter }}");
        x.style.display = (x.style.display === "none") ? "block" : "none";
        {#  자바스크립트의 삼항 연산자, === :값과 데이터가 동일한지 확인   #}
        {#   block : 속성을 표기 , none : 속성을 표기하지 않음     #}
    }

    function print_star(num) {
        star = "⭐".repeat(num)
        {#star += "☆".repeat(5 - num)#}
        {# repeat 메소드는 다음과 같다. #}
        {# python :  star = "*" * 3  #}
        document.write(star);
    }
</script>
<body>
<br>

{% for index in post_comments %}



    {{ index.owner.username }}
    {{ index.post_comment }}
    {{ index.com_updated_at }}











    {#       삭제 수정 버튼       #}
    <br>
    <span><script>print_star({{ index.comment_star }});</script></span>
    {% if  request.user.user_id == index.owner.user_id %}
        <div style="display: flex;">
            <form method="post" action="{% url 'delete-comment' index.post_comment_id %}">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
            <button onclick="show_my_comment_set()">수정</button>
        </div>
    {% endif %}



    {# 수정 누르면 나오는 div   #}
    <div id="comment_set{{ forloop.counter }}"
         style="display: none; margin-top: 30px; margin-bottom: 30px; background-color: rgba(174,240,255,0.98); width: 1110px">
        <form method="post" action="{% url 'set-comment' index.post_comment_id %}">
            {% csrf_token %}
            <div>
                <label for="post-comment"> 작성자 : {{ index.owner.username }}</label> <br>
                <textarea name="post-comment" placeholder=" 수정할 댓글 : {{ index.post_comment }}" rows="2" cols="150"
                          required></textarea>
            </div>
            <div style="display: inline-block; margin-left: 920px">
                <select name="comment_star">
                    <option>⭐⭐⭐⭐⭐</option>
                    <option>⭐⭐⭐⭐</option>
                    <option>⭐⭐⭐</option>
                    <option>⭐⭐</option>
                    <option>⭐</option>
                </select>
            </div>
            <button type="submit">댓글 수정</button>
        </form>
    </div>

{% endfor %}




<br>

{% if user.is_authenticated %}

    <div>
        <form method="post" action="{% url 'create-comment' post.post_id %}">
            {% csrf_token %}
            <div>
                <label for="post-comment"> 작성자 : {{ user.username }}</label> <br>
                <textarea name="post-comment" placeholder="악플은 싫어잉ㅇㅇㅇㅇㅇㅇㅇ" rows="2" cols="150" required></textarea>
            </div>
            <div style="display: inline-block; margin-left: 920px">
                <select name="comment_star">
                    <option>⭐⭐⭐⭐⭐</option>
                    <option>⭐⭐⭐⭐</option>
                    <option>⭐⭐⭐</option>
                    <option>⭐⭐</option>
                    <option>⭐</option>
                </select>
            </div>
            <button type="submit">댓글 작성</button>
        </form>
    </div>


{% endif %}

</body>
</html>
