{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <form method="post" action="/create-post/" style="width: 65%; margin: 10% auto; border: 2px solid #cccccc; padding: 20px 20px 20px 20px">
        {% csrf_token %}
        <label for="input_title">제목:</label><br>
        <textarea name="title" style="width: 100%" placeholder="게시글 제목을 입력해주세요."></textarea>
        <br>
        <label for="comment">내용:</label><br>
        <textarea name="comment" style="width: 100%;" placeholder="게시글 내용을 입력해주세요."></textarea>
        <br>
        <label for="comment">유튜브 주소:</label><br>
        <textarea name="youtube_url" style="width: 100%" placeholder="https://www.youtube.com/watch?v=?????"></textarea>
        <br>
        <button type="submit">등록</button>
        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}
    </form>
{% endblock %}
