{% extends 'base.html' %}
{% block title %}
메인페이지
{% endblock %}

{% block content %}
<style>
    body {
        overflow: auto;
    }

    .icons {
        object-fit: cover;
        width: 64px;
        height: 64px;
    }

    .col-3 {
        display: flex;
        align-items: center;
    }

    .row {
        padding-top: 5%;
        padding-left: 5%;
    }

    .profile {
        padding: 10%
    }
</style>
<div style="overflow: auto;">
    <section class="profile">
        <div class="profile_image">
            <img style="float: left; border-radius: 100%; margin-right: 50px;" src="">
        </div>
        <h1 style="display:inline;" class="username">{{ user.username }}</h1>
        <hr>
        <span style="display:inline;" class="email_adresss">{{ user.email }}</span>
        <div class="created_at">{{ user.date_joined }}</div>
        <span>50 팔로우 중</span><span style="margin-left: 50px;">23 팔로워</span>
        <hr>
        <div>프로필 메시지</div>
        <!-- 필수기능 이후 여유있으면 개인 블로그 아이콘? -->
        <!-- <a href="https://velog.io/@rumor/DjangoA-4-%ED%8C%80-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-SA">
            <img class="icons" src="">
        </a> -->
    </section>
    <hr>
    <div class="row" style="margin-top: 150px;">
        {% for post in posts %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.comment }}</p>
                    <a href="{{ post.url }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer>
</footer>
{% endblock %}