{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
        <style>
            .main {
                display: block;
                margin: 100px auto;
                width: 55%;
                border: 1px solid #cccccc;
                padding: 10px 10px 10px 10px;
                border-radius: 8px;
            }

            .top {
                margin-top: 10px;
            }

            .content {
                margin-bottom: 50px;
            }

            .toolbox {
                display: flex;
                flex-direction: row-reverse;
                
            }
        </style>

        <script>
            function show_my_comment_set() {
                var x = document.getElementById("comment_set");
                x.style.display = (x.style.display === "none") ? "block" : "none";
                {#  자바스크립트의 삼항 연산자, === :값과 데이터가 동일한지 확인   #}
                {#   block : 속성을 표기 , none : 속성을 표기하지 않음     #}
            }

            function print_star(num) {
                star = "⭐".repeat(num)
                {#star += "☆".repeat(5 - num)#}
                {# repeat 메소드는 다음과 같다. #}
                {# python :  star = "*" * 3  #}
                document.write(star);
            }
        </script>
    </head>
    <body>
    <div class="main">
        <div class="top"></div>
        <div>
            <h1>{{ post.title }}</h1>
        </div>
        <div style="margin: 0 auto; width: 40%; height: 100%" align="center">
        <iframe width='100%' height='100%'  src="https://www.youtube.com/embed/{{ post.youtube_url }}?autoplay=1&mute=0&autohide='2'&modestbranding=1&enablejsapi=1&version=3&playerapiid=ytplayer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="content">{{ post.comment }}</div>
        <div class="bottom" align="right">
            <div class="info">
                작성자 : {{ post.owner.username }} <br/>
                작성시간 : {{ post.update_at }} <br/>
                수정시간 : {{ post.create_at }} <br/>
                =========================<br/>
            </div>

            <div class="toolbox">

                {% if  request.user.user_id == post.owner.user_id %}
                    <form action="{% url 'set-post' post.post_id %}" method="GET">
                        <button type='submit' title="수정" class="btn btn-primary btn-sm"> 수정</button>
                    </form>
                    &nbsp
                    <form action="{% url 'delete-post' post.post_id %}" method="POST">
                        {% csrf_token %}
                        <button type='submit' title="삭제" class="btn btn-primary btn-sm">삭제</button>
                    </form>
                    &nbsp
                {% endif %}

                <input type=button value="목록" class="btn btn-primary btn-sm" onclick="location.href='/'">
            </div>
        </div>
        {% if post_comments %}
        <hr style="height: 3px; border: 0; background: gray;">
        {% endif %}
        {% for index in post_comments %}
        <a href={% url 'my-page' index.owner.pk %} role="button" style="color: black; text-decoration-line: none;">
            <div class="box" style="background: #BDBDBD; float:left; margin: 0 4px 10px; width: 30px; height: 30px;">
                {% if index.owner.image %}
                  <img class="profile" src={{ index.owner.image }}>
                {% else %}
                  <img class="profile" src={% static 'tweet/image/user_image.png' %}>
                {% endif %}
                
            </div>
                {{ index.owner.username }}
            </a>
        {{ index.com_updated_at }}
        <br>
        <br>
        {{ index.post_comment }}
        <br>
        <span style="font-size: 0.8rem"><script>print_star({{ index.comment_star }});</script></span>
        <br>
            
        {% if  request.user.user_id == index.owner.user_id %}
            <div style="display: flex;">
                <form method="post" action="{% url 'delete-comment' index.post_comment_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">삭제</button>
                </form>
                &nbsp
                <button onclick="show_my_comment_set()" class="btn btn-primary btn-sm">수정</button>
            </div>
        {% endif %}
        <hr>
        <div id="comment_set"
             style="display: none; margin-top: 30px; margin-bottom: 30px; background-color: rgba(174,240,255,0.98); width: 1000px">
            <form method="post" action="{% url 'set-comment' index.post_comment_id %}">
                {% csrf_token %}
                <div>
                    <label for="post-comment"> 작성자 : {{ index.owner.username }}</label> <br>
                    <textarea name="post-comment" placeholder=" 수정할 댓글 : {{ index.post_comment }}" rows="2" required></textarea>
                </div>
                <div style="display: inline-block; margin-left: 920px">
                    <select name="comment_star">
                        <option>⭐⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐</option>
                        <option>⭐⭐</option>
                        <option>⭐</option>
                    </select>
                </div>
                <button type="submit">댓글 수정</button>
            </form>
        </div>

    {% endfor %}


    <br>

    {% if user.is_authenticated %}

        <div style="margin: 0 auto;">
            <form method="post" action="{% url 'create-comment' post.post_id %}">
                {% csrf_token %}
                <div>
                    <label for="post-comment"> 작성자 : {{ user.username }}</label> <br>
                    <textarea name="post-comment" placeholder="댓글을 작성해주세요." rows="2" style="width:100%" required></textarea>
                </div>
                <div style="display: inline-block;">
                    <select name="comment_star">
                        <option>⭐⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐⭐</option>
                        <option>⭐⭐⭐</option>
                        <option>⭐⭐</option>
                        <option>⭐</option>
                    </select>
                </div>
                <button type="submit">댓글 작성</button>
            </form>
        </div>


    {% endif %}
    </div>
{% endblock %}
