{% extends 'base.html' %}
{% block title %}
    게시글 수정
{% endblock %}

{% block set-post %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>게시글 수정 페이지</title>
    </head>
    <body>

    <form method="post" action="{% url 'set-post' post.post_id %}" style="width: 65%; margin: 10% auto; border: 2px solid #cccccc; padding: 20px 20px 20px 20px">
        {% csrf_token %}
        <h2> 게시글 수정 </h2>
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <label for="input_title">제목:</label><br>
        <textarea name="title" style="width: 100%">{{ post.title }}</textarea>
        <br>
        <label for="comment">내용:</label><br>
        <textarea name="comment" style="width: 100%">{{ post.comment }}</textarea>
        <br>
        <label for="comment">유튜브 주소:</label><br>
        <textarea name="youtube_url" style="width: 100%">{{ post.youtube_url }}</textarea>
        <br>
        <button type="submit">등록</button>
        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}
    </form>
    </body>
    </html>
{% endblock %}