{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}
<div style="width: 55%; margin: 5% auto;">

<form class="profile_section" action="{% url 'set-profile' user.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile_image">
        {% if user.is_authenticated and user.image %}
        <img class="profile_image" src="{{ user.image }}">
        {% elif user.is_authenticated and not user.image %}
        <img class="profile_image" src={% static 'tweet/image/user_image.png' %}>
        {% endif %}
    </div>
    <label for="username">유저 이름</label>
    <input type="text" value="{{ user.username }}" style="display:inline;" name="username" id="username"></input>
    <hr>
    <!-- <label for="email_adresss">Email</label>
    <input style="display:inline;" value="{{ user.email }}" name="email" id="email_adresss"></input> -->
    <div class="created_at">{{ user.date_joined }}</div>
    <span>{{ follower_count }} 팔로우 중</span>
    <span style="margin-left: 50px;">{{ following_count }} 팔로워</span>
    <hr>
    <p for="description">프로필 문구</p>
    <textarea type="text" style="margin-left: 200px; width: 500px;" name="description"
        id="description">{{ user.description }}</textarea>
    <hr>
    <p for="profile-image" style="margin-left: 200px;">프로필 사진</p>
    <div style="margin-left: 200px; width: 500px;" class="input-group mb-3">
        <input type="file" class="form-control" id="profile-image" name="profile-image" accept="image/*">
        <label class="input-group-text" for="profile-image">Upload</label>
    </div>
    <hr>
    {% if error %}
    <div style="margin-left: 200px; color: red;">
        {{ error }}
    </div>
    {% endif %}
    <div style="float:right">
        <button type="submit" class="btn btn-primary">수정</button>
        <button type="button" onclick="location.href='{% url 'my-page' user.pk %}'" class="btn btn-primary">취소</button>
    </div>
    <!-- 필수기능 이후 여유있으면 개인 블로그 아이콘? -->
    <!-- <a href="https://velog.io/@rumor/DjangoA-4-%ED%8C%80-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-SA">
        <img class="icons" src="">
    </a> -->
</form>
</div>
{% endblock %}

<!-- 프로필 수정을 누르면? -->