/* 폰트 import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 전체 Gamja Flower 폰트 적용 */
* {
    font-family: 'Gowun Dodum', sans-serif;
}

/* 폰트 end */

body {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.cover {
    height: 70vh;
}


.timeline-container {
    margin-top: 100px;
}

.container-local {
    width: 1080px;
    margin: 0 auto;
}

/* nav bar part */

.nav {
    display: flex;
    box-shadow: 0 3px 5px 0 rgb(80, 80, 80);
    margin: 0;
    z-index: 999;
    position: fixed;
    top: 0;
    right: auto;
    width: 100%;
    border-radius: 0;
    flex-wrap: wrap;
    border: 1px solid rgb(0, 0, 0)
}

.nav-wrap {
    width: 100%;
    height: 70px;
    background-color: black;
}

.navbar-container {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

.logo {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    background-image: url("../image/logo-camu.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    filter: invert(100%);
}

.menu {
    display: flex;
    position: absolute;
    right: 30px;
    width: 10%;
    height: 100%;
    margin: 15px 20px;
}

.box {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    display: block;
    margin: 200px auto;
    width: 70%;
    height: 70%;
}

/* nav bar part end */

.like {
    float: right;
    display: block;
    margin: 0 5px 5px 0;
    background-color: black;
    border: 2px solid black;
    border-radius: 70%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
}

.like-button {
    width: 28px;
    float: right;
    display: block;
    margin: 0 5px 10px 0;
}

.like-button:hover {
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.profile_section {
    padding-top: 11%;
}
.profile_image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    float: left; 
    border-radius: 50%; 
    margin-right: 50px;
}

/* .icons {
    object-fit: cover;
    object-position: top;
    width: 64px;
    height: 64px;
} */
